#background-canvas {
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
  transition: all 1s;
  position: fixed;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.mars {
  position: absolute;
  display: block;
  bottom: -17px;
  left: 0;
  height: 20rem;
  width: 100%;
  user-select: none;
  z-index: -1;
  position: fixed;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  &::selection {
    background-color: transparent;
    color: #000;
  }
}

.moon {
  position: absolute;
  top: 5rem;
  right: 12rem;
  height: 10rem;
  width: 10rem;
  animation: spin 20s linear infinite;
  z-index: -1;
  position: fixed;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  &::selection {
    background-color: transparent;
    color: #000;
  }

  @include respond(phone) {
    top: 2rem;
    right: 3rem;
    opacity: 0.7;
  }
}

.slidecontainer {
  position: absolute;
  top: 3rem;
  left: 22.5rem;
  z-index: 5;
  display: none;

  @include respond(tab-port) {
    top: 8rem;
    left: 1rem;
  }
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 12rem;
  height: 1rem;
  border-radius: 5px;
  background-color: #2ecc71;
  opacity: 0.7;
  outline: none;
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  border-radius: 2rem;
  width: 2rem; 
  height: 2rem; 
  background: white; 
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 2rem; 
  height: 2rem; 
  background: white; 
  cursor: pointer;
}
.volume-icon {
  font-size: 1.7rem;
  margin-right: 3px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
