#background-canvas {
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -2;
    transition: all 1s;
    position: fixed;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}