#background-canvas {
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
  transition: all 1s;
  position: fixed;
}

.mars {
  position: absolute;
  display: block;
  bottom: -17px;
  left: 0;
  height: 20rem;
  width: 100%;
  user-select: none;
  z-index: -1;
  position: fixed;

  &::selection {
    background-color: transparent;
    color: #000;
  }
}

.moon {
  position: absolute;
  top: 5rem;
  right: 12rem;
  height: 10rem;
  width: 10rem;
  animation: spin 20s linear infinite;
  z-index: -1;
  position: fixed;

  &::selection {
    background-color: transparent;
    color: #000;
  }

  @include respond(phone) {
    top: 2rem;
    right: 3rem;
    opacity: 0.7;
  }
}

.slidecontainer {
  position: absolute;
  top: 4.2rem;
  left: 27.5rem;
  z-index: 5;
  display: none;

  @include respond(tab-port) {
    top: 8rem;
    left: 1rem;
  }
}
.slider {
  width: 12rem;
  height: 1rem;
  border-radius: 5px;
  background-color: #2ecc71;
  opacity: 0.7;
}
.volume-icon {
  font-size: 1.7rem;
  margin-right: 3px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
