#game-canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.home-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

#background-canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -2; }

.mars {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  height: 20rem;
  width: 100%;
  user-select: none;
  z-index: -1; }

.moon {
  position: absolute;
  top: 5rem;
  right: 12rem;
  height: 10rem;
  width: 10rem;
  animation: spin 20s linear infinite;
  z-index: -1; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* 1 rem = 10px. Browser default font-size is 16px / 10px = 62.5%
  Percentage allows user to change default font-size in browser */
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  min-height: 100vh;
  background-image: linear-gradient(to top, #8f3e51, #3a3352);
  font-weight: 400;
  font-family: "Josefin Slab", serif;
  line-height: 1.8rem;
  color: white; }

.typing-effect {
  height: 15rem;
  width: 100%;
  text-align: center; }
  .typing-effect__h3 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    letter-spacing: -1.5px; }
  .typing-effect__h1 {
    color: #ededed;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500; }
  .typing-effect__h2 {
    color: #ededed;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500; }
    .typing-effect__h2--git-hub {
      text-decoration: none;
      color: white;
      font-weight: 700; }
  .typing-effect__p {
    color: #ededed;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500; }
    .typing-effect__p--portfolio {
      text-decoration: none;
      color: white;
      font-weight: 700; }
  .typing-effect__address {
    color: #ededed;
    font-size: 2rem;
    line-height: 1.9rem;
    font-weight: 500; }
    .typing-effect__address--email-address {
      text-decoration: none;
      color: white;
      font-weight: 700; }
  .typing-effect__game-button {
    height: 2rem;
    visibility: hidden; }

@keyframes blink-caret {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*
&::after {
      content: "_";
      font-size: 1.8rem;
      padding-top: 0.8rem;
      font-weight: 700;
      animation: blink-caret 0.6s infinite;
    }
    */
