#game-canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.home-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#background-canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -2; }

.mars {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  height: 20rem;
  width: 100%;
  user-select: none;
  z-index: -1; }

.moon {
  position: absolute;
  top: 5rem;
  right: 12rem;
  height: 10rem;
  width: 10rem;
  animation: spin 20s linear infinite;
  z-index: -1; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* 1 rem = 10px. Browser default font-size is 16px / 10px = 62.5%
  Percentage allows user to change default font-size in browser */
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  min-height: 100vh;
  background-image: linear-gradient(to top, #8f3e51, #3a3352);
  font-weight: 400;
  font-family: Lato;
  line-height: 1.8rem;
  color: white; }

.typing-effect {
  height: 15rem;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 3rem;
  font-family: "Josefin Slab"; }
  .typing-effect__h3 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-shadow: 0 0 1px rgba(111, 134, 134, 0.6); }
  .typing-effect__h1 {
    color: #ededed;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
    text-shadow: 0 0 1px rgba(111, 134, 134, 0.6); }
  .typing-effect__h2 {
    color: #ededed;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
    text-shadow: 0 0 1px rgba(111, 134, 134, 0.6); }
  .typing-effect__p {
    color: #ededed;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
    text-shadow: 0 0 1px rgba(111, 134, 134, 0.6); }
  .typing-effect__address {
    color: #ededed;
    font-size: 2rem;
    line-height: 1.9rem;
    font-weight: 500;
    text-shadow: 0 0 1px rgba(111, 134, 134, 0.6); }
  .typing-effect__social {
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: all 0.3s; }
    .typing-effect__social:hover, .typing-effect__social:focus {
      color: #fd5d73; }
  .typing-effect__game-button {
    border: none;
    cursor: pointer;
    padding: 2.5rem 8rem;
    display: inline-block;
    margin: 1.5rem 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
    outline: none;
    position: relative;
    transition: all 0.3s;
    border-radius: 0.5rem;
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 0.6rem #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none; }
    .typing-effect__game-button:after {
      content: "";
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .typing-effect__game-button:hover {
      box-shadow: 0 0.4rem #ab3c3c;
      top: 0.2rem; }
    .typing-effect__game-button:active {
      box-shadow: 0 0 #ab3c3c;
      top: 0.6rem; }

@keyframes blink-caret {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*
&::after {
      content: "_";
      font-size: 1.8rem;
      padding-top: 0.8rem;
      font-weight: 700;
      animation: blink-caret 0.6s infinite;
    }
    */
.popup {
  height: 100vh;
  width: 100%;
  display: none;
  top: 0;
  left: 0;
  flex-direction: column;
  z-index: 3;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2); }
  .popup__container {
    height: 0.1rem;
    width: 0;
    animation: popupWidth 0.5s 1 normal linear forwards 0s, popupHeight 0.5s 1 normal linear forwards 0.5s;
    background-repeat: no-repeat;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/popup.svg);
    z-index: 3; }
    .popup__container--points {
      display: none;
      font-size: 2.5rem;
      margin-bottom: 3rem;
      font-weight: 900;
      text-transform: uppercase;
      text-shadow: 1px 1px black;
      color: #ff9292; }
    .popup__container--content {
      height: 100%;
      width: 100%;
      display: none;
      font-size: 1.4rem;
      font-weight: 400;
      text-shadow: 1px 1px black; }
      .popup__container--content li {
        display: flex;
        margin-bottom: 1.5rem; }
      .popup__container--content li .popup__container--content-title {
        order: 1;
        text-transform: uppercase; }
      .popup__container--content li .popup__container--content-statistic {
        order: 3;
        font-size: 1.8rem;
        color: #ff9292;
        font-weight: 700; }
      .popup__container--content li::after {
        content: "";
        border-bottom: 1px dotted;
        flex-grow: 1;
        order: 2; }
  .popup__play-again {
    border: none;
    cursor: pointer;
    padding: 2.5rem 8rem;
    display: inline-block;
    margin: 2rem 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
    outline: none;
    position: relative;
    transition: all 0.3s;
    border-radius: 0.5rem;
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 0.6rem #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    z-index: 3; }
    .popup__play-again:after {
      content: "";
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .popup__play-again:hover {
      box-shadow: 0 0.4rem #ab3c3c;
      top: 0.2rem; }
    .popup__play-again:active {
      box-shadow: 0 0 #ab3c3c;
      top: 0.6rem; }

@keyframes popupWidth {
  to {
    width: 47.5rem; } }

@keyframes popupHeight {
  to {
    height: 35rem;
    padding: 2.2rem; } }
