#home {
  background-image: linear-gradient(to top, #8f3e51, #3a3352);
}
#game-canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.home-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
