#portfolio-body {
  background-color: #041527;
  background: url(assets/bg-portfolio.png);
}

#portfolio-canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
.planet {
  position: absolute;
  top: 30rem;
  left: 2rem;
  z-index: -1;
}

.portfolio-moon {
  position: absolute;
  top: 3rem;
  right: 2rem;
  height: 10rem;
  width: 10rem;
  animation: spin 20s linear infinite;
  z-index: -1;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  z-index: 1;

  &-title {
    font-size: 1.9rem;
    margin: 2rem;
  }

  &-paragraph {
    font-size: 1.4rem;
  }
}
