*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1 rem = 10px. Browser default font-size is 16px / 10px = 62.5%
  Percentage allows user to change default font-size in browser */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(to top, #8f3e51, #3a3352);
  min-height: 100vh;
  font-weight: 400;
  font-family: Lato;
  line-height: 1.8rem;
  color: white;
}

//font-family: "Josefin Slab"
//linear-gradient(to top, #8f3e51, #3a3352)
